<!DOCTYPE html>
<html lang="ko">

<head>
    <title>관리자 페이지</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/admin/">감사운동</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">톺아보기</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            신청
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/signupList?type=1">멘토 신청</a></li>
                            <li><a class="dropdown-item" href="/signupList?type=2">멘티 신청</a></li>
                            <li><a class="dropdown-item" href="/signupList?type=3">멘토&amp;멘티 매칭</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            관리
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/management/?type=4">공지사항 관리</a></li>
                            <li><a class="dropdown-item" href="/management/?type=0">학생 관리</a></li>
                            <li><a class="dropdown-item" href="/management/?type=1">기수 관리</a></li>
                            <li><a class="dropdown-item" href="/management/?type=2">매니저 관리</a></li>
                            <li><a class="dropdown-item" href="/management/?type=3">비밀번호 변경</a></li>
                        </ul>
                    </li>
                    <a class="nav-link " href="/amdinLogout/" role="button" aria-expanded="false">
                            로그아웃</a>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <!-- Placeholder for desktop -->
            <div class="col-2 d-none d-lg-block"></div>

            <div class="col">
                <h2 class="mt-5">관리 리스트</h2>
                <br>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link {% if type == '4' %}active{% endif %}" aria-current="page" href="./?type=4">공지사항 관리</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if type == '0' %}active{% endif %}" aria-current="page" href="./?type=0">학생 관리</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if type == '1' %}active{% endif %}" href="./?type=1">기수 관리</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if type == '2' %}active{% endif %}" href="./?type=2">매니저 관리</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if type == '3' %}active{% endif %}" href="./?type=3">비밀번호 변경</a>
                    </li>
                </ul>
                {% if type == '0' %}
                <center style="padding:30px;">
                    조건 검색 
                        <select style="height:2em;" id="filterStatus">
                            <option value=-1>구분</option>
                            <option value=0>가입 대기</option>
                            <option value=1>유저</option>
                            <option value=2>멘토 신청</option>
                            <option value=3>멘티 신청</option>
                            <option value=4>멘토</option>
                            <option value=5>멘티</option>
                        </select>
                    <input id="filterName" type="text" placeholder="이름" style="width:6em;height:2em;"
                           onkeyup="if(window.event.keyCode==13){userFilter();}">
                    <input id="filterId"type="number" placeholder="학번" style="width:6em;height:2em;"
                           onkeyup="if(window.event.keyCode==13){userFilter();}">
                    <button type="button" class="btn btn-secondary" style="margin-bottom:5px;font-size:0.8em;"
                            onclick="userFilter();">검색</button>
                    <button type="button" class="btn btn-outline-secondary" onclick="userFilterReset();"
                            style="margin-bottom:5px;font-size:0.8em;">초기화
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"></path>
                            <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z">
                            </path>
                        </svg>
              </button>
                    
                </center>
                <ol class="list-group list-group-numbered" id="userListContainer">
                    {% for obj in data %}
                    <a class="list-group-item d-flex justify-content-between align-items-start" 
                       href="#" onclick="openPopup('/detail/?id={{obj.userId}}')"
                        id="{{obj.userId}}" title="{% if obj.statusStr %}{{obj.name}}{% else %}{{obj.userId__name}}{% endif %}"
                        rel="{{obj.status}}">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">
                                
                                {% if obj.statusStr %} {{obj.name}} {% else %} {{obj.userId__name}} {% endif %} ㅣ {{obj.userId}}
                            </div>
                            <span style="font-size: 0.9em;color: grey;">
                                가입 일 : {{obj.registerDate}},
                                {% if obj.statusStr %}
                                상태 : {{ obj.statusStr }}
                                {% else %}
                                {% if obj.matchedNum %}
                                멘토, 멘티 수 : obj.matchedNum
                                {% else %}
                                멘티, 멘토 : {{ obj.mentorId__userId }}
                                {% endif %} 
                                {% endif %} 
                            </span>
                        </div>
                        <div class="col position-absolute top-50 end-0 translate-middle-y me-2">
                        </div>
                    </a>
                    {% endfor %}
                </ol>
                {% endif %}
                {% if type == '1' %}
                <center style="padding:30px;">
                    <form action="appendTerm/" onsubmit="return submitTerm(this)" method = "post">{% csrf_token %}
                        <b>{{ lastTerm }}기 등록  &ensp;</b>
                        
                    시작일 <input name="startDate" type="date" placeholder="yyyy-mm-dd">&ensp;
                    종료일 <input name="endDate" type="date" placeholder="yyyy-mm-dd">
                        <select name="semester" style="height:2em;">
                            <option value="">구분</option>
                            <option value='동계'>동계</option>
                            <option value='1학기'>1학기</option>
                            <option value='하계'>하계</option>
                            <option value='2학기'>2학기</option>
                        </select>
                        <button type="submit" class="btn btn-primary" style="margin-bottom:5px;font-size:0.8em;">생성</button>
                    </form>
                </center>
                
                <ol class="list-group list-group-numbered">
                    {% for obj in data %}
                    <ul class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">
                                {{obj.id}}기 - {{obj.year}}년도 {{obj.semester}} ㅣ 멘토 {{obj.mentorCount}}&nbsp;  멘티 {{obj.menteeCount}}
                            </div>
                            <span style="font-size: 0.9em;color: grey;">
                                {{obj.startDate}} ~ {{obj.endDate}} ㅣ  {{obj.activated}}
                            </span>
                        </div>
                        <div class="col position-absolute top-50 end-0 translate-middle-y me-2">
                             <form action="updateTerm/?id={{obj.id}}" onsubmit="return submitTerm(this)" method = "post">{% csrf_token %}
                                 <input name="startDate" type="date" placeholder="yyyy-mm-dd"
                                        value='{{obj.startDate|date:"o-m-d"}}' style="width:9em"> ~
                                 <input name="endDate" type="date" placeholder="yyyy-mm-dd"  
                                        value='{{obj.endDate|date:"o-m-d"}}' style="width:9em">
                                 <select name="semester" style="height:2em;">
                                     <option value='동계'{% if obj.semester == "동계" %} selected{% endif %}>동계</option>
                                     <option value='1학기'{% if obj.semester == "1학기" %} selected{% endif %}>1학기</option>
                                     <option value='하계'{% if obj.semester == "하계" %} selected{% endif %}>하계</option>
                                     <option value='2학기'{% if obj.semester == "2학기" %} selected{% endif %}>2학기</option>
                                 </select>
                                 <select name="activated" style="height:2em;">
                                     <option value='0' {% if obj.activated == "모집 중" %} selected{% endif %}>모집 중</option>
                                     <option value='1' {% if obj.activated == "활동 중" %} selected{% endif %}>활동 중</option>
                                     <option value=''{% if obj.activated == "활동 종료" %} selected{% endif %}>활동 종료</option>
                                 </select>
                                 <button type="submit" class="btn btn-secondary" style="margin-bottom:5px;font-size:0.8em;"
                                         {% if obj.activated == "활동 종료" %} disabled{% endif %}>수정</button>
                            </form>
                        </div>
                    </ul>
                    {% endfor %}
                </ol>
                {% endif %}
                {% if type == '2' %}
                
                <center style="padding:30px;">
                    <form action="manager/?isCreate=1" onsubmit="return submitManager(this)" method = "post">{% csrf_token %}
                        <b>매니저 등록  &ensp;</b>
                        <input name="adminId" type="text" placeholder="id" maxlength="20">&ensp;
                        <input name="pw" type="password" placeholder="pw" maxlength="20">
                        <button type="submit" class="btn btn-primary" style="margin-bottom:5px;font-size:0.8em;">생성</button>
                    </form>
                </center>

                <ol class="list-group list-group-numbered">
                    {% for obj in data %}
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">
                                id : {{obj.adminId}}
                            </div>
                        </div>
                        <div class="col position-absolute top-50 end-0 translate-middle-y me-2">
                             <form action="manager/?isCreate=0&id={{obj.adminId}}" method = "post">{% csrf_token %}
                                 <button type="submit" class="btn btn-secondary" style="font-size:0.8em;">삭제</button>
                            </form>
                        </div>
                    </li>
                    {% endfor %}
                </ol>
                {% endif %}
                {% if type == '3' %}
                
                <center style="padding:30px;">
                    <form action="managerPw/" onsubmit="return submitPw(this)" method = "post">{% csrf_token %}
                        <div>
                        <b>현재 비밀번호  &ensp;</b>
                        <input name="oldPw" type="password" placeholder="old password" maxlength="20"></div>
                        <br>
                        <div>
                        <b>변경 비밀번호  &ensp;</b>
                        <input name="newPw" type="password" placeholder="new password" maxlength="20"></div>
                        <br>
                        <button type="submit" class="btn btn-primary" style="margin-bottom:5px;font-size:0.8em;">변경</button>
                    </form>
                </center>
                {% endif %}
                {% if type == '4' %}
                
                <center style="padding:30px;">
                    <form action="appendNotice/" onsubmit="return submitNotice(this)" method = "post">{% csrf_token %}
                        <b>공지사항 등록</b>
                        <input name="title" type="text" placeholder="제목" maxlength="50" style="width:50%;display: block;margin:5px;">
                        <textarea name="content"  placeholder="내용" style="width:50%;display: block;min-height:50px;margin:5px;"></textarea>
                        <button name="button" type="submit" class="btn btn-primary" style="margin:5px;font-size:0.8em;">등록</button>
                    </form>
                </center>
                <ol class="list-group list-group-numbered">
                    {% for obj in data %}
                    <a class="list-group-item d-flex justify-content-between align-items-start"
                       onclick="openNotice(this)" value="0">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">
                                {{obj.title}}
                            </div>
                            <span style="font-size: 0.9em;color: grey;">
                                개시일 : {{obj.registerDate}}
                            </span>
                            <div style="display:none;">
                            <div class="fw-bold" style="margin-bottom:5px;">
                                <br>
                                {{obj.title}}
                            </div>
                                {{obj.content | linebreaksbr}}
                            </div>
                        </div>
                        <div class="col position-absolute top-50 end-0 translate-middle-y me-2" style="vertical-align: top;height: 100%;margin:10px;">
                            <button type="button" class="btn btn-primary" 
                                    onclick="location.href='./removeNotice?id={{obj.id}}'">삭제</button>
                        </div>
                    </a>
                    {% endfor %}
                </ol>
                {% endif %}
            </div>

            <!-- Placeholder for desktop -->
            <div class="col-2 d-none d-lg-block"></div>
        </div>
    </div>
    <!-- Placeholder for footer -->
    <div class="bd-footer py-5 mt-5" style="height: 200px;"></div>
    <script>
        function submitTerm(obj){
            if(!(obj.semester.value && obj.startDate.value && obj.endDate.value)){
                alert('데이터를 모두 입력해주세요.');
                return false;
            }
            var dateFormat = /^[0-9]{4}\-(0[1-9]|1[012])\-(0[1-9]|[12][0-9]|3[01])/
            if(!(obj.startDate.value.match(dateFormat) && obj.endDate.value.match(dateFormat))){
                alert('올바른 날짜 형식으로 입력해주세요. (ex : 2022-01-01)');
                return false;
            }
            return true;
        }
        function submitManager(obj){
            if(!(obj.adminId.value && obj.pw.value)){
                alert('데이터를 모두 입력해주세요.');
                return false;
            }
            return true;
        }
        function submitPw(obj){
            if(!(obj.oldPw.value && obj.newPw.value)){
                alert('데이터를 모두 입력해주세요.');
                return false;
            }
            return true;
        }
        function submitNotice(obj){
            if(!(obj.title.value && obj.content.value)){
                alert('데이터를 모두 입력해주세요.');
                return false;
            }
            obj.button.disabled = true;
            return true;
        }
        
        function openNotice(obj){
            obj.value = !obj.value;
            
            if(obj.value){
                obj.style.backgroundColor = "#f3f3f3";
                obj.children[0].children[2].style.display="block";
            }else{
                obj.style.backgroundColor = "#fff";
                obj.children[0].children[2].style.display="none";
            }
        }
        
        function openPopup(url){
            var width = window.outerWidth / 5;
            var height = window.outerHeight / 5;

            window.open(url, 'popup',
                        'width='+(width*3)+', height='+ (height*3) +', scrollbars= 0, toolbar=0, menubar=no, left='+width+', top='+height);
            if (event.stopPropagation)
                event.stopPropagation();
            else 
                event.cancelBubble = true;

        }
        {% if type == '0' %}
        let userDiv = document.getElementById('userListContainer');
        let filterStatus = document.getElementById('filterStatus');
        let filterName = document.getElementById('filterName');
        let filterId = document.getElementById('filterId');
         
        function userFilter(){
            objs = userDiv.children;
            first = true;
            
            for(var i=0;i<objs.length;i++){
                console.log(objs[i].value +"    "+ filterStatus.value)
                objs[i].style.borderTopWidth = 0;
                if(filterId.value && (objs[i].id+"").indexOf(filterId.value) == -1 ){
                    objs[i].style.setProperty("display", "none", "important");
                    continue;
                }
                if(filterName.value && objs[i].title.indexOf(filterName.value) == -1 ){
                    objs[i].style.setProperty("display", "none", "important");
                    continue;
                }
                if(filterStatus.value != -1 && objs[i].rel != filterStatus.value){
                    objs[i].style.setProperty("display", "none", "important");
                    continue;
                }
                if(first){
                    objs[i].style.borderTopWidth = '1px';
                    first = false;
                }
                objs[i].style.display = '';
            }
        }
        function userFilterReset(){
            filterId.value = '';
            filterName.value = '';
            filterStatus.value = -1;
            userFilter();
        }
         {% endif %}
    </script>
</body>

</html>