<!DOCTYPE html>
<html lang="ko">

<head>
    <title>관리자 페이지</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/admin/">감사운동</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">톺아보기</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            신청
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/signupList?type=0">가입 신청</a></li>
                            <li><a class="dropdown-item" href="/signupList?type=1">멘토 신청</a></li>
                            <li><a class="dropdown-item" href="/signupList?type=2">멘티 신청</a></li>
                            <li><a class="dropdown-item" href="/signupList?type=3">멘토&amp;멘티 매칭</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            관리
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/management/?type=0">학생 관리</a></li>
                            <li><a class="dropdown-item" href="/management/?type=1">기수 관리</a></li>
                            <li><a class="dropdown-item" href="/management/?type=2">매니저 관리</a></li>
                            <li><a class="dropdown-item" href="/management/?type=3">비밀번호 변경</a></li>
                        </ul>
                    </li>
                    <a class="nav-link " href="/amdinLogout/" role="button" aria-expanded="false">
                            로그아웃</a>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <!-- Placeholder for desktop -->
            <div class="col-2 d-none d-lg-block"></div>

            <div class="col">
                {% if data %}
                <div class="alert alert-primary mt-5" role="alert">
                    <span class="badge rounded-pill bg-secondary">new</span> {{data|length}} 건의 새로운 신청 정보가 있습니다.
                </div>
                {% endif %}
                <h2 class="mt-5">신청 리스트</h2>
                <br>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        
                        <a class="nav-link {% if type == '0' %}active{% endif %}" aria-current="page" href="./?type=0">가입 신청</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if type == '1' %}active{% endif %}" href="./?type=1">멘토 신청</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if type == '2' %}active{% endif %}" href="./?type=2">멘티 신청</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if type == '3' %}active{% endif %}" href="./?type=3">멘토&amp;멘티 매칭</a>
                    </li>
                    {% if data and type != '3' %}
                    <li class="nav-item" style="float:right;margin-left:auto;">
                        <button type="button" class="btn btn-primary"
                                onclick="location.href='./acceptSignup?signupType={{type}}'">일괄 승인</button>
                    </li>
                    {% endif %}
                    {% if type == '3' %}
                    <li class="nav-item" style="float:right;margin-left:auto;padding-top: 15px;">
                        <b>
                        {% if currentTerm == '' %}
                        현재 모집 중인 기수가 없습니다.
                        {% else %}
                        현재 {{currentTerm}}기 모집중입니다.
                        {% endif %}
                        </b>
                    </li>
                    
                    {% endif %}
                </ul>
                {% if type != '3' %}
                <ol class="list-group list-group-numbered">
                    {% for obj in data %}
                    <a class="list-group-item d-flex justify-content-between align-items-start"
                       href="#" onclick="openPopup('/detail/?id={{obj.userId}}')">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">
                                {% if type == '0' %} {{obj.name}} {% else%} {{obj.userId__name}} {% endif %} | {{obj.userId}}
                            </div>
                            <span style="font-size: 0.9em;color: grey;">
                                {% if type == '0' %} {{obj.registerDate}} {% else%} 
                                희망 기수 : {{obj.term__id}}기 - {{obj.term__year}}년도 {{obj.term__semester}}{% endif %}
                                
                            </span>
                        </div>
                        <div class="col position-absolute top-50 end-0 translate-middle-y me-2">
                            <button type="button" class="btn btn-primary" 
                                    onclick="location.href='./acceptSignup?signupType={{type}}&userId={{obj.userId}}'">승인</button>
                            <button type="button" class="btn btn-secondary" 
                                    onclick="openReject({{obj.userId}},'{{obj.mentorId}}{{obj.menteeId}}');">거절</button>
                        </div>
                    </a>
                    {% endfor %}
                </ol>
                {% else %}
                
                <br>
                
                {% if mentors %}
                <h4>멘토 리스트</h4>
                {% endif %}
                <ol class="list-group list-group-numbered">
                    {% for obj in mentors %}
                    <a class="list-group-item d-flex justify-content-between align-items-start"
                       href="#" onclick="openPopup('/detail/?id={{obj.userId}}')">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">
                                {{obj.userId__name}} | {{obj.userId}}
                            </div>
                            <span style="font-size: 0.9em;color: grey;">
                                희망 기수 : {{obj.term__id}}기 - {{obj.term__year}}년도 {{obj.term__semester}} ㅣ
                                멘티 수 : {{obj.matchedNum}}
                                
                            </span>
                        </div>
                        <div class="col position-absolute top-50 end-0 translate-middle-y me-2">
                            <button type="button" class="btn btn-primary" 
onclick="openPopup('/adminSearch?type=0&id={{obj.mentorId}}&term={{obj.term__id}}&name={{obj.userId__name}}&myId={{obj.userId}}&menteeNum={{obj.matchedNum}}');">매칭</button>
                        </div>
                    </a>
                    {% endfor %}
                </ol>
                <br>
                {% if mentees %}
                <h4>멘티 리스트</h4>
                {% endif %}
                <ol class="list-group list-group-numbered">
                    {% for obj in mentees %}
                    <a class="list-group-item d-flex justify-content-between align-items-start"
                       href="#" onclick="openPopup('/detail/?id={{obj.userId}}')">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">
                                 {{obj.userId__name}} | {{obj.userId}}
                            </div>
                            <span style="font-size: 0.9em;color: grey;">
                                희망 기수 : {{obj.term__id}}기 - {{obj.term__year}}년도 {{obj.term__semester}}
                                
                            </span>
                        </div>
                        <div class="col position-absolute top-50 end-0 translate-middle-y me-2">
                            <button type="button" class="btn btn-primary" 
onclick="openPopup('/adminSearch?type=1&id={{obj.menteeId}}&term={{obj.term__id}}&name={{obj.userId__name}}&myId={{obj.userId}}');">매칭</button>
                        </div>
                    </a>
                    {% endfor %}
                </ol>
                
                
                {% endif %}
            </div>

            <!-- Placeholder for desktop -->
            <div class="col-2 d-none d-lg-block"></div>
        </div>
    </div>
    <!-- Placeholder for footer -->
    <div class="bd-footer py-5 mt-5" style="height: 200px;"></div>
    <script>
        function openPopup(url){
            var width = window.outerWidth / 5;
            var height = window.outerHeight / 5;

            popup = window.open(url, 'popup',
                        'width='+(width*3)+', height='+ (height*3) +', scrollbars= 0, toolbar=0, menubar=no, left='+width+', top='+height);
            if (event.stopPropagation)
                event.stopPropagation();
            else 
                event.cancelBubble = true;
            
            popup.addEventListener('beforeunload', function() {
                location.reload();
            });
        }
        function openReject(userId,menId){
            if (event.stopPropagation)
                event.stopPropagation();
            else 
                event.cancelBubble = true;
            
            var reason = prompt('거절 사유');
            if(reason){
                location.href= "./acceptReject/?userId="+userId+"&reason="+reason+"&menId="+menId+"&type={{type}}"
            }
        }
    </script>
</body>

</html>