<!DOCTYPE html>
<html lang="ko">

<head>
    <title>학생 검색</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" >{{ term }}기 {{ yourType }} 검색</a>
            </div></nav>
    <br>
    <center>
    
<p> {{ myType }} : <b>{{ name }}</b> &nbsp;학번 : {{ myId }}
    {% if menteeNum %}
    <br>
    멘티 수 : {{menteeNum}}명
    {% endif %}
        </p>
    </center>
<div class="mt-5" style="margin-bottom:3em;">
    <center>
    <div style="display:inline;width:90%;">
        {{yourType}}
        <select style="height:2em;" id="filterStatus">
        <option value=1>이름</option>
        <option value=2>학번</option>
    </select>
        <input type="text" placeholder="검색"style="height:2em;" maxlength="8" id="filter"  
               onkeyup="if(window.event.keyCode==13){userFilter();}">
        </div>
        <button type="button" class="btn btn-secondary" style="margin-bottom:5px;font-size:0.8em;"
                            onclick="userFilter();">검색</button>
                    <button type="button" class="btn btn-outline-secondary" onclick="userFilterReset();"
                            style="margin-bottom:5px;font-size:0.8em;">초기화
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"></path>
                            <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z">
                            </path>
                        </svg>
              </button>
        </center>
</div>
    
<ol class="list-group list-group-numbered" style="width: 90%;margin: auto;margin-bottom:3em;" id="userListContainer">
    {% for obj in data %}
                    <li class="list-group-item d-flex justify-content-between align-items-start"
                        id="{{obj.userId}}" title="{{obj.userId__name}}">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">
                                {{ obj.userId__name }} | {{ obj.userId }}
                            </div>
                            <span style="font-size: 0.9em;color: grey;">
                                {% if obj.matchedNum != None %}
                                멘티 수 : {{ obj.matchedNum }}
                                {% endif %}
                            </span>
                        </div>
                        <div class="col position-absolute top-50 end-0 translate-middle-y me-2">
                            <button type="button" class="btn btn-primary" {% if menteeNum %} style="font-size:0.8em;" {% endif %}
                                    onclick="checkMatch('{{obj.userId__name}}','{{obj.mentorId}}{{obj.menteeId}}');">{{yourType}} 선택</button>
                        </div>
                    </li>
    {% endfor %}
                </ol>
    
    <script>
    
  function maxLengthCheck(object){
    if (object.value.length > object.maxLength){
      object.value = object.value.slice(0, object.maxLength);
    }
      console.log(object.value);
      
      object.value = Math.min(object.value, 2050);
      object.value = Math.max(object.value, 0);
  }
        function checkMatch(yourName, yourId){
            if(confirm('{{name}}의 {{yourType}}로 '+yourName+'을(를) 선택하시겠습니까?')){
                let href = "./adminMatched/?mentor=";
                {% if myType == '멘토' %}
                    href += {{ id }}+"&mentee="+yourId;
                {% else %}
                    href += yourId+"&mentee=" + {{ id }};
                {% endif %}
                
                {% if myType == '멘티' or menteeNum == '4' %}
                    href += "&close=1";
                 {% else %}
                 href += "&close=0";
                {% endif%}
                
                location.href= href;
            }else{
                
            }
        }
        
        let userDiv = document.getElementById('userListContainer');
        let filter = document.getElementById('filter');
        let filterStatus = document.getElementById('filterStatus');
         
        function userFilter(){
            objs = userDiv.children;
            first = true;
            
            for(var i=0;i<objs.length;i++){
                objs[i].style.borderTopWidth = 0;
                if(filter.value){
                    if(filter.value == 2){
                        if((objs[i].id+"").indexOf(filter.value) == -1 ){
                            objs[i].style.setProperty("display", "none", "important");
                            continue;
                        }
                    }else{
                        if(objs[i].title.indexOf(filter.value) == -1 ){
                            objs[i].style.setProperty("display", "none", "important");
                            continue;
                        }
                    }
                }
                if(first){
                    objs[i].style.borderTopWidth = '1px';
                    first = false;
                }
                objs[i].style.display = '';
            }
        }
        
        function userFilterReset(){
            filter.value = '';
            userFilter();
        }
    </script>
</body>

</html>